{% extends 'base.html.twig' %}

{% block title %}FiveRingsDB - Card Database for Legend of the Five Rings{% endblock %}

{% block body %}
    <div class="container">
        <h1>Search for cards of Legend of the Five Rings</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-sm">{{ form_row(form.name) }}</div>
            <div class="col-sm">{{ form_row(form.text) }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form_row(form.clan) }}</div>
            <div class="col-sm">{{ form_row(form.cost) }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form_row(form.type) }}</div>
            <div class="col-sm">{{ form_row(form.trait) }}</div>
        </div>
        <div class="row">
            <div class="col-sm">{{ form_row(form.pack) }}</div>
            <div class="col-sm">{{ form_row(form.illustrator) }}</div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}