{{ form_start(form) }}
<div class="row">
    <div class="col-sm">{{ form_row(form.name) }}</div>
    <div class="col-sm">{{ form_row(form.text) }}</div>
</div>
<div class="row">
    <div class="col-sm">{{ form_row(form.faction) }}</div>
    <div class="col-sm">{{ form_row(form.cost) }}</div>
</div>
<div class="row">
    <div class="col-sm">{{ form_row(form.type) }}</div>
    <div class="col-sm">{{ form_row(form.subType) }}</div>
</div>
<div class="row">
    <div class="col-sm">{{ form_row(form.attack) }}</div>
    <div class="col-sm">{{ form_row(form.armor) }}</div>
    <div class="col-sm">{{ form_row(form.health) }}</div>
</div>
<div class="row">
    <div class="col-sm">{{ form_row(form.pack) }}</div>
    <div class="col-sm">{{ form_row(form.illustrator) }}</div>
</div>
{{ form_end(form) }}